*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
html{
    font-size: calc(100vw/3.75);
}
body{
    font-size: 0.16rem;
    background: #F8F9F9;
}